@media (max-width: 1200px)
	/* от 992px до 1200px */
	.container
		max-width: 940px
	.header
		&__menu-item
			margin-right: 22px
		&__link
			font-size: 17px
		.button
			width: 205px
			a
				font-size: 17px
