@media (max-width: 1200px)
	/* от 992px до 1200px */
	.container
		max-width: 940px
	.header
		&__menu-item
			margin-right: 22px
		&__link
			font-size: 17px
		.button
			width: 200px
			a
				font-size: 17px
	.promo

		&__wrapper

		&__descr
			width: 390px
		&__title
			width: 100%
			font-size: 46px
			line-height: 116%
		&__subscribe-form
			width: 100%
		&__img
			flex-basis: 546px
			margin-right: 15px
		&__hero-1
			width: 550px
		&__eclipse_blue
			width: 270px
			height: 270px
			left: 6%
		&__text-field
			width: 197px
		&__form-btn

			width: 143px
			font-size: 17px
			align-items: center
			a
				font-size: 17px

	.features
		&__header
			display: flex
			padding-left: 6px
			font-size: 21px

			text-align: center
		&__icon
			flex: 0 1 40px
			margin-right: 5px

		&__subtitle
			line-height: 40px
	.working
		&__hero
		// width: 600px
			position: relative
		img
			margin-left: 0

		&__eclipse_pink
			left: -11px
			width: 250px
			height: 250px
		&__eclipse_white
			top: -87px
			right: -2px
			width: 500px
			height: 500px
		&__link
			margin: 0 9px
		&__divider
			width: 21px
	.prices
		&__title
			margin-left: 76px
		&__wrapper
			flex-wrap: wrap
			justify-content: space-evenly
		&__item
			width: 340px
			margin: 0 30px 24px 30px
			&:nth-child(3)
				margin-bottom: 0
			&:nth-child(4)
				margin-bottom: 0
	.comments

		&__wrapper
			display: flex
			flex-wrap: wrap
			position: static
			// align-items: center
			.comments__item
				position: static
				flex-basis: 48.72%
				flex-grow: 0
				margin: 0 24px 24px 0
				&:nth-child(2n)
					margin-right: 0
		.button
			position: static
			margin-left: auto
			margin-top: 30px

	.sale
		min-height: 583px
		padding: 100px 0
		&__eclipse-main
			top: 33px
			left: 20px
			width: 400px
			height: 400px
		&__title
			font-size: 46px
	.feedback

		&__hero
		&__descr
			margin-right: 15px
@media (max-width: 991px)
	/* от 768px до 992px */
	body .lock
		overflow: hidden
	.container
		max-width: 672px

	.header

		&__menu
			position: fixed
			top: -130%
			left: 0
			width: 100%
			height: 100vh
			background: rgba(255, 255, 255, 0.9)
			padding: 80px 0 80px 56px
			transition: all 0.5s ease 0s

			&_active
				top: 0
			&_item
				border: none
				margin: 10px 0
				padding-top: 24px
			&_link
				font-size: 20px
			&-item
				padding-top: 24px
		&__list
			display: block
		&__link
			font-weight: 500
			line-height: 100%
			font-size: 56px
			color: $second-color

	// --------------------
	.header__burger
		display: block
		position: relative
		outline: none
		cursor: pointer
		border: none
		background: none
		width: 20px
		position: relative
		height: 26px
		margin-right: 298px
		z-index: 3
		&::before
			position: absolute
			content: ''
			width: 40px
			height: 40px
			top: 50%
			left: 50%
			transform: translate(-52%,-56%)
			border-radius: 100%
			background: rgba(245, 245, 245, 0.7)

		span
	      background-color: #4754eb
	      display: block
	      height: 2px
	      position: absolute
	      width: 100%
		span
			&:nth-child(1)
				width: 20px
				top: 5px
			&:nth-child(2)
				top: 50%
				margin-top: -2px
				width: 14px
			&:nth-child(3)
				top: 100%
				margin-top: -9px
				width: 14px
		&_active
			span
				&:nth-child(1)
		          margin: -2px 0 0 -3px
		          top: 40%
		          width: 120%
		          -moz-transform: rotate(-40deg)
		          -webkit-transform: rotate(-40deg)
		          -o-transform: rotate(-40deg)
		          -ms-transform: rotate(-40deg)

				&:nth-child(2)
		          opacity: 0

				&:nth-child(3)
		          margin: -2px 0 0 -3px
		          top: 40%
		          width: 120%
		          -moz-transform: rotate(40deg)
		          -webkit-transform: rotate(40deg)
		          -o-transform: rotate(40deg)
		          -ms-transform: rotate(40deg)
		span
			-webkit-transition: all 0.2s ease-in-out
			-moz-transition: all 0.2s ease-in-out
			-o-transition: all 0.2s ease-in-out
			transition: all 0.2s ease-in-out
	// --------------------
	.header
		&__wrapper

		&__logo
			margin-right: 16px
		&__menu-item
			margin-right: 0
		&__account
			p
				display: none
		&__change-ru,
		&__change-en
			display: none
		.button
			position: relative
			z-index: 3
			width: 220px
	.promo
		height: 1030px
		&__wrapper
			flex-direction: column
		&__descr
			width: 100%
			margin-top: 40px
		&__title
			font-size: 56px
		&__subscribe
			max-width: 450px
		&__subscribe-form
			width: 100%
		&__scroll
			display: none
		&__hero
			top: -104px
			left: -16px
	.features

		&__items
			flex-direction: column
		&__item
			width: 100%
			margin: 16px 0 0 0
			&:first-child
				margin-top: 0
		&__icon
			flex: 0 1 56px
			margin-right: 12px

		&__subtitle
			line-height: 57px
			font-size: 24px

	.working
		padding: 80px 0 80px 0
		&__wrapper
			flex-direction: column
		&__text
			width: 608px
		.button
			margin-top: 40px
	.prices
		padding-bottom: 80px
		&__title
			margin-left: 30px
		&__wrapper
			justify-content: space-between
		&__item
			width: 323px
			margin: 0 0 24px 0
	.comments

		&__wrapper
			display: flex
			flex-direction: column

			.comments__item
				max-width: 100%
				margin: 24px 0 0 0
				&:first-child
					margin: 0
		.button
			display: none
	.sale
		padding: 0 0 80px 0
		&__wrapper
			flex-direction: column
		&__eclipse-main
			top: 88px
			left: 83px
			width: 465px
			height: 465px
		&__title
			margin-top: 0
			font-size: 56px
		&__subscribe-form
			width: 450px
	.questions
		min-height: 830px
	.feedback
		min-height: 717px
		padding: 80px 0
		&__wrapper
			flex-direction: column
			margin-top: 16px

		&__descr
			margin: 0
			width: 608px
		&__subtitle
			max-width: 465px

		&__hero
			display: none
		.action
			justify-content: flex-start
		.button
			margin-right: 24px
@media (max-width: 767px)
	// от 576px до 768px
	.container
		max-width: 550px
	.header
		&__wrapper
			justify-content: space-evenly
		&__logo
			margin-right: 0
		&__burger
			margin-right: 121px
	.promo

		&__subscribe
			max-width: 450px

		&__hero
			top: -87px
		&__eclipse_blue
			left: 3%
