@import "base/variables"

*,
*::after,
*::before
	padding: 0
	margin: 0
	border: 0
	box-sizing: border-box
a
	text-decoration: none
	&:hover
		text-decoration: none

ul,
ol,
li,
p
	list-style: none
	margin-bottom: 0
img
	vertical-align: top

h1,
h2,
h3,
h4,
h5,
h6
	font-weight: inherit
	font-size: inherit
	margin-bottom: 0

html,body
	height: 100%
	font-family: 'Visuelt Pro', sans-serif
	font-size: 18px
	font-weight: normal
	line-height: 135%
	color: $main-color
	background: #F2F2F2
	// background-image: url('/img/color.svg')
.container
	max-width: 1280px
	margin: 0 auto

@import "blocks/header"
@import "blocks/promo"
@import "blocks/features"
@import "blocks/working"
@import "blocks/prices"
@import "blocks/comments"
@import "blocks/sale"
@import "blocks/questions"
@import "blocks/feedback"
// footer
@import "blocks/footer"

@import "base/accordion"
@import "base/buttons"
@import "base/titles"
@import "base/forms"
@import "base/media"
