.features
	min-height: 480px
	padding: 80px 0 104px
	&__wrapper
	&__title
		font-weight: 500
		font-size: 36px
		line-height: 112%
		color: $title-color
	&__items
		margin-top: 40px
		display: flex
		justify-content: space-between
	&__item
		flex-basis: 389px
	&__subtitle
		font-weight: 500
		font-size: 24px
		line-height: 100%
		color: $title-color
		&::before
			content: ''
			background: url('../../icons/emoji1.png')
	&__text
		font-weight: normal
		font-size: 18px
		line-height: 135%
		margin-top: 44px
