.features
	min-height: 480px
	padding: 80px 0
	background: $white-color
	&__wrapper
	&__title
		font-weight: 500
		font-size: 36px
		line-height: 112%
		color: $title-color
	&__items
		margin-top: 40px
		display: flex
		justify-content: space-between
	&__item
		width: 415px
		min-height: 100%
		margin-right: 16px
		background: $item-color
		box-shadow: $box-shadow
		backdrop-filter: blur(24px)
		border-radius: 24px 24px
		&:last-child
			margin-right: 0
	&__header
		display: flex
		padding: 10px 0 10px 16px
		font-weight: 500
		font-size: 24px
		color: $title-color
		background: $white-color
		border-radius: 24px 24px 0 0
	&__icon
		flex: 0 1 56px
		margin-right: 12px
		img
			max-width: 100%
	&__subtitle
		line-height: 57px

	&__text
		font-weight: normal
		font-size: 18px
		line-height: 150%
		padding: 16px 24px 24px 24px
