.header
	min-height: 80px
	background: $white-color
	border-radius: 24px 24px 0 0
	&__wrapper
		padding: 16px 0
		display: flex
		justify-content: space-between
		align-items: center
	&__logo
		display: block
		color: $second-color
		font-weight: 500
	&__menu
		display: flex
		justify-content: space-between
		align-items: center
	&__menu-item
		margin-right: 24px
		&:last-child
			margin-right: 0
	&__link
		font-weight: normal
		color: $main-color
	&__account
		display: flex
		align-items: center
		p
			color: $main-color
			margin-right: 2px
	&__change-ru
		color: $main-color
		font-weight: 500
		margin-right: 2px
	&__change-en
		color: $main-color
		font-weight: 500
		margin-right: 16px
