.questions
	min-height: 800px
	padding: 80px 0
	background: linear-gradient(to left bottom,#f9cee0,#f7cde0,#f1cde2,#ecdaed, rgba(255,0,0,0) 30.71%),
	linear-gradient(to right top, #ddc9ea,#dccaeb,
	#d8cef0,#dadbf8, rgba(0,0,255,0) 30.71%)
	&__title
		font-weight: 500
		font-size: 36px
		line-height: 112%
		color: $title-color
	&__wrapper
		margin-top: 40px
.question__item
	margin-bottom: 16px
	&:last-child
		margin-bottom: 0
.accordion
	background-color: $white-color
	color: #444
	cursor: pointer
	padding: 18px
	width: 100%
	height: 96px
	border: none
	text-align: left
	outline: none
	font-size: 15px
	transition: 0.4s
	border-radius: 16px
	// margin-bottom: 16px

.active
	background-color: #ccc

.accordion
	font-weight: 500
	font-size: 36px
	line-height: 112%

	&:hover
		background-color: #ccc

	&:after
		content: '\002B'
		color: #777
		font-weight: normal
		font-size: 53px
		float: right
		margin-left: 5px
	&:last-child
		margin-bottom: 0

.active:after
	content: "\2212"

.panel

	padding: 0 18px
	background-color: white
	max-height: 0
	overflow: hidden
	transition: max-height 0.2s ease-out
