.working
	min-height: 800px
	padding: 80px 0 0 0
	background-image: linear-gradient(39deg, #faeef3, #f9dfea,
	#f9dee9,#f9d8e6,
	#fbe7ef,#fcf9fa,#fcfcfc,#fdfdfd,#fafafb,#f1f2fa,#f0f0fb,#ebecfa,#e4e6fa,#dee0f9,#d9daf9,#d0d0f7,#c8c3f2,#cbbded,#cebcea,#d0bfea,#d4bde8,#d4bce7,#d4bce7)
	&__title
		font-weight: 500
		font-size: 36px
		line-height: 112%
		color: $title-color
	&__wrapper
		width: 100%
		display: flex
		margin-top: 41px
	&__hero
		// width: 600px
		position: relative
		img
			max-width: 100%
			margin-left: 100px
			position: relative
			// overflow: hidden
			z-index: 5
	&__eclipse_pink
		position: absolute
		top: 0
		left: 0
		margin-top: 280px
		width: 302px
		height: 302px
		border-radius: 100%
		background: $pink-color
		z-index: 0
	&__eclipse_white
		position: absolute
		top: -80px
		right: 0px
		margin-top: 80px
		width: 540px
		height: 540px
		border-radius: 100%
		background: $white-color
		z-index: 2

	&__descr
		width: 463px
		margin: 40px 0 0 24px
	&__tabs
		display: flex
		align-items: center

	&__tab
		margin: 0 16px
		font-weight: 500
		font-size: 18px
		line-height: 135%
		color: black
		transition: all 0.3s
		cursor: pointer
		&:first-child
			margin-left: 0
		&:last-child
			margin-right: 0
	&__divider
		width: 24px
		height: 1px
		background: $white-color
	&__subtitle
		font-weight: 500
		font-size: 36px
		line-height: 112%
		color: $title-color
		margin-top: 30px
	&__subtext
		font-style: normal
		font-weight: 500
		font-size: 18px
		line-height: 135%
		color: $second-color
		margin-top: 16px
	&__text
		margin-top: 24px
		p
			font-weight: normal
			font-size: 18px
			line-height: 150%
			&:last-child
				margin-top: 16px
	.button
		width: 247px
		height: 56px
		margin-top: 66px
	.show
		display: block
	.hide
		display: none
	.fade
		animation: fade 1.5s
	@keyframes fade
		from
			opacity: 0.1
		to
			opacity: 1
	.working__tab_active
		font-size: 19px
		color: $second-color
		text-shadow: 0 0 0.1px $a-hover
