@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Regular.eot");
  src: local("VisueltPro-Regular"),
    url("../fonts/VisueltPro-Regular.woff2") format("woff2"),
    url("../fonts/VisueltPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Visuelt Pro";
  src: url("VisueltPro-Medium.eot");
  src: local("VisueltPro-Medium"),
    url("../fonts/VisueltPro-Medium.woff2") format("woff2"),
    url("../fonts/VisueltPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
